.App {
  /* background-color: #0f234cda; */
  background: linear-gradient(
    to top right,
    rgba(255, 0, 0, 0.745),
    rgba(0, 0, 255, 0.924)
  );
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  transition: all 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.5);
}
