.profile-container {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 1px solid beige; */
  box-shadow: 0 0 0px 5px rgba(224, 220, 220, 0.5);
  background-color: rebeccapurple;
  transition: all 0.5s ease-in-out;
}

img:hover {
  box-shadow: 0 0 200px 150px rgba(224, 220, 220, 0.5);
}

.header-text {
  font-weight: 200;
  font-size: 40px;
  color: beige;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 330px;
  padding: 0;
  gap: 10px;
}

.social-icons > li {
  list-style: none;
  width: 50px;
  height: 50px;
}
