@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

.profile-container {
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  gap: 50px;
}

@keyframes rolling {
  0% {
    /* transform: rotate(0deg) translate(0,0); */
  }
  25% {
    transform: rotate(-30deg) translate(40px, 0);
  }
  75% {
    transform: rotate(30deg) translate(-40px, 0);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.my-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rolling 5s ease-in-out infinite;
}

.my-ball > hr {
  border: 1px solid rgba(255, 250, 250, 0.54);
  transform: rotate(90deg);
  position: absolute;
  width: 130px;
  margin-bottom: 50px;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0px 5px rgba(224, 220, 220, 0.5);
  background-color: rebeccapurple;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

img:hover {
  cursor: pointer;
  box-shadow: 0 0 200px 150px rgba(224, 220, 220, 0.5);
}

.header-text {
  font-weight: 200;
  font-size: 40px;
  color: beige;
  /* letter-spacing: 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  font-family: "Rubik Bubbles", cursive;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 0;
  /* gap: 10px; */
}

.social-icons > li {
  list-style: none;
  width: 50px;
  height: 50px;
}

.letter {
  display: inline-block;
  transition: all 1s ease-in-out;
  margin: 0 3px;
  color: snow;
  font-size: 30px;
}

.letter:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

/* #letter-7:hover {
  text-transform: uppercase;
} */
