@keyframes snowing {
  0% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 440px);
    opacity: 0.3;
  }
}

.ball-container {
  color: #d2eceb;
  height: auto !important;
}
