@keyframes snowing {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

.ball-container {
  animation: snowing 10s ease-in-out infinite;
  color: white;
  position: absolute;
  bottom: 10px;
  transform: rotate(180deg);
}
